{% extends "layout.html" %}
{% block content %}
<div class="about-section">
  <h1>About Us</h1>
  <p><h3>PetsRus</h3>

PetsRus, Inc. is a doggy<br> provider comapny that not only sells the highest<br> quality breed of dogs, but also cares for the destitute and abused.  </p>

</div>

  <br><br>

<h2 style="text-align:center">Our Team</h2>
  <div class="card">
    <img src="{{ url_for('static', filename='team1.jpg') }}" style='width:100%';>
    <h1 style='padding:20px'>Professor Doug</h1>
    <p class="priced">CEO</p>
    <p id='product_content' style='padding:20px'>Professor Doug helped us secure Series A funding for our venture, he has obtained a PHD in Business Administration and is often quoted to be the most intelligent canine in the whole of Europe.</p>


  </div>
    <br><br>

{% endblock content %}
